<meta charset="utf-8">
<link rel="stylesheet" href="../public/css/footer.css" type="text/css">
<footer>
    <div id="opening-hours">
        <p>שעות פתיחה</p>
        <p>ראשון-חמישי:</p>
        <p>10:30-20:00</p>
        <p>שישי:</p>
        <p>09:00-16:00</p>  
        <p>שבת:</p>
        <p>10:00-19:00</p>
    </div>
</footer>