<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/css/header.css" type="text/css">
<header>
  <nav id="options-nav">
      <image id="logo" src="../public/images/logo.jpg"></image>
      <div class="dropdown">
          <button class="dropbtn">עלינו </button>
          <div class="dropdown-content">
            <a href="#">אודות</a>
            <a href="#">סניפים</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">תקליטים </button>
          <div class="dropdown-content">
            <a href="#">לכל התקליטים</a>
            <a href="#">תקליטים חדשים</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">פטיפונים</button>
          <div class="dropdown-content">
            <a href="#">SAFA</a>
            <a href="#">Audio Technica</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">פעולות מנהל</button>
          <div class="dropdown-content">
              <a href="#">סטטיסטיקה</a>
              <a href="#">ניהול משתמשים</a>
              <a href="#">ניהול הזמנות</a>
              <a href="#">הוספת מוצר</a>
              <a href="#">פרסם בפייסבוק</a>
            </div>
        </div>
  </nav>
  <nav id="left-nav">
    <button class="btn">התחברות</button>
    <button class="btn">עגלת קניות</button>
  </nav>
</header>