<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/css/header.css" type="text/css">
<script src="../public/scripts/header.js"></script>
<header>
  
  <nav id="options-nav">
      <image id="logo" src="../public/images/logo.jpg"></image>
      <div class="dropdown">
          <button class="dropbtn">עלינו </button>
          <div class="dropdown-content">
            <a href="#">אודות</a>
            <a href="#">סניפים</a>
          </div>
        </div> 
        <% if (showRecordDiv) { %>

        <div class="dropdown">
          <button class="dropbtn">תקליטים </button>
          <div class="dropdown-content">
            <a href="/products/all">לכל התקליטים</a>
            <a href="/products/new" >תקליטים חדשים</a>
          </div>
        </div> 
        <% } %>

        <% if (isAdmin) { %>
        <div class="dropdown">
          <button class="dropbtn">פעולות מנהל</button>
          <div class="dropdown-content">
              <a href="#">סטטיסטיקה</a>
              <a href="#">ניהול משתמשים</a>
              <a href="#">ניהול הזמנות</a>
              <a href="/products/add_product">הוספת מוצר</a>
              <a href="#">פרסם בפייסבוק</a>
            </div>
        </div>
        <% } %>

  </nav>

  <nav id="left-nav">
    <% if (username == 'Guest'){ %>
      <a class="btn" href="/login">התחברות</a>
    <% } %>
    <% if (username != 'Guest'){ %>
      <a class="btn" href="/logout">התנתקות</a>
      <a class="btn">עגלת קניות</a>
    <% } %>
    <a class="btn" href="/"><img id="logo" src="../public/images/house-logo.jpg"></a>
  </nav>

</header>