<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../public/css/homePage.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include("./header",{showRecordDiv: true}); -%>
    <main>
        <a id ="store-image" href="/products"><img src="../public/images/store-image.jpg"></img></a>
        <section id='store-info'>
            <h1>חנות תקליטים</h1>
            <p>בחנות התקליטים שלנו, תוכלו למצוא עשרות אלפי תקליטים במחירים הוגנים ובכל ז’אנר. מוזמנים לבוא לבקר ולדפדף בין אלפי התקליטים.</p>
            <p>אנו עושים משלוחים לכל רחבי הארץ</p>
            <p>שעות פתיחה בתקופת המלחמה: ימים א-ה  10:30-20:00 יום ו’: 9:00-16:00 שבת: 10:00-19:00</p>
        </section>
        <div id="commercials">
            <a class="commercials-image" href="/products?genre=%D7%99%D7%A9%D7%A8%D7%90%D7%9C%D7%99%D7%99%D7%9D"><image src="../public/images/israeli-records.jpg"></image></a>
            <a class="commercials-image" href="/products/new"><image src="../public/images/new-records.jpg"></image></a>
        </div>
        <section  id='store-about'>
            <h1>חנות תקליטים במאה ה 21</h1>
            <h3>חנות התקליטים ביטניק קמה מאהבה גדולה למוזיקה ולפורמט התקליט. </h3>
            <p>אנו שמים דגש רב על עידכון המדף בתדירות גבוהה, על מחירים הוגנים ושירות טוב ואמין לקהל הלקוחות שלנו.</p>
            <p>בחנות תוכלו למצוא אלפי תקליטי ויניל במחיר שמתחיל ב 10 ש”ח לתקליט, פינות האזנה לבדוק את תקליטי החנות ואינסוף ידע של העובדים.
                בנוסף תוכלו למצוא בחנות, בנוסף לתקליטים, גם פטיפונים, מוצרים נלווים, ניילונים חיצוניים ופנימיים לשמירה על התקליטים, מברשות ומכונות לניקוי תקליטים, טי שירטס מגניבות, פוסטרים ועוד מתנות שונות לאוהבי מוזיקה.</p>
            <h1>אנשים עוד שומעים תקליטים??</h1>
            <h3>זו שאלה ששואלים אותנו לפחות 5 פעמים ביום והתשובה היא כן</h3>
            <p>בעשור האחרון תקליטי הויניל חזרו בגדול לתודעה גם כפריטי אספנות נחשקים וגם כדרך מיוחדת שנותנת יחס וכבוד אמיתי למוזיקה שאנו שומעים.</p>
            <p>לצד דור האספנים הותיק, שמעולם לא ויתר על התקליטים בחייו, התווספו בשנים האחרונות אלפי אספנים צעירים יותר שמאמצים את הויניל כדרך הטובה ביותר להאזין למוזיקה.</p>
            <p>לא רק המאזינים הצעירים חוזרים לתקליטים. גם מוזיקאים צעירים וחדשים מוציאים מהדורות של האלבומים שלהם – כתקליטים. גם מאזיני נוגה ארז ו A-WA, טיילור סוויפט והארי סטיילס יכולים לשמוע את המוזיקאים החביבים עליהם שרים מהפטיפון.</p>
            <p>במקביל לקפיצה המטאורית במכירות התקליטים בעולם גם מכירות מכשירי הפטיפון השונים עלו בהתאם במאות אחוזים בשנים האחרונות.</p>
            <p>כן, התקליט חזר לחיינו והוא כאן כדי להישאר.</p>
            <p>למה אנשים מעדיפים תקליט ופטיפון? הרי יש לנו את כל המוזיקה שאפשר רק לחלום עליה בקצות האצבעות שלנו בכל מכשיר טלפון ותקליטים גם תופסים מקום וגם עולים כסף, איפה ההיגיון?</p>
            <p>לא בטוח שיש היגיון ואולי גם אין בו צורך, כשמדובר במוזיקה פעמים רבות ההיגיון מפנה את המקום שלו לטובת רגש עבור מי שהיא חלק משמעותי ובלתי נפרד מהחיים שלהם. תקליט נשמע אחרת, מרגיש אחרת, קרוב יותר, עמוק יותר ואפשר להחזיק אותו ביד ולחייך חיוך גדול.</p>
            <p>אם מוזיקה היא חלק חשוב מהחיים שלכם הגיוני שתרצו לתת לה את המקום הראוי בבית שלכם לא רק כאפליקציה. מקום שבו תוכלו לדפדף בין תקליטים ולהנות מהצליל העמוק שלהם ולחכות לרגע הקסם שבו המחט נוגעת בתקליט.</p>
        </section>
    </main>
    <%- include("./footer"); -%>
</body>
</html>