<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../public/css/homePage.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include("./header",{showRecordDiv: false}); -%>

    <div class="info">
        <div id="title">
            <p>Welcome <%= username %>,</p>
            <p>to The BEST Records Store</p>
        </div>

        <div class="login">
            <a class="btn-login" href="/products"> shop</a>
        </div>
    </div>
    <%- include("./footer"); -%>
</body>
</html>