<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../public/css/header.css" type="text/css">
    <link rel="stylesheet" href="../public/css/homePage.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header> 
        <image id="logo" src="../public/images/logo.jpg"></image>
        <div class="dropdown">
            <button class="dropbtn">עלינו </button>
            <div class="dropdown-content">
            <a href="#">אודות</a>
            <a href="#">סניפים</a>
            </div>
    </header>
    <div class="info">
        <div id="title">
            <p>- Welcome to the BEST Record Store In The World -</p>
        </div>

        <div class="login">
            <a class="login" href="/login">login</a>
            <a class="login" href="/products"> as a guest</a>
        </div>
    </div>
    <%- include("./footer"); -%>
</body>
</html>