<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="../public/css/product.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>

<body>
    <%- include("./header"); -%>
    <main>
        <div id="sort-by">
            <select name="orderby" id="sort-by" onchange="Sort(this.value)">
              <option value="default">Default</option>
              <option value="date">Newest</option>
              <option value="price-low-to-high">Price: low to high</option>
              <option value="price-high-to-low">Price: high to low</option>
            </select>
        </div>
    
        <div id="products">
            <%for (var i = 0; i < products.length; i++) {%>
                <div class="product">
                    <div class="image"></div>
                        <p class="artist"><%=products[i].artist%></p>
                        <p class="name"><%=products[i].name%></p>
                    <p class="price"><%=products[i].price%>₪</p>
                </div>     
            <%}%>  
            </div>
    </main>
</body>
<script src="../public/scripts/sortProducts.js"></script>
</html>