<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="../public/css/register.css" type="text/css">

</head>

<body>
    <%- include("./header",{showRecordDiv: false}); -%>

    <div class="register-form">
        <form  action="/register" method="post">
            <h1> הרשמה</h1>
            <input type="text" name="username" placeholder="שם משתמש" required >
            <input type="password" name="password" placeholder="סיסמה"required>
            <input type="text" name="address" placeholder="כתובת" required>
            <input type="text" name="phonenumber" placeholder="טלפון" required>
            <input type="submit" value="להרשמה">
        </form>
        <a> יש לך כבר משתמש באתר? </a>
        <a href="/login">התחבר/י</a>

    </div>

    <%- include("./footer"); -%>

</body>

</html>