<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>    
    <link rel="stylesheet" href="../public/css/register.css" type="text/css">

</head>

<body>
    <%- include("./header",{showRecordDiv: false}); -%>

    <div class="register-form">
        <form  action="/register" method="post">
            <h1> הרשמה</h1>
            <input type="username" name="username" placeholder="שם משתמש">
            <input type="password" name="password" placeholder="סיסמה">
            <input type="address" name="address" placeholder="כתובת">
            <input type="number" name="phonenumber" placeholder="טלפון">
            <input type="submit" value="להרשמה">
        </form>
        יש לך כבר משתמש באתר? <a href="/login">התחבר/י</a>

    </div>

    <%- include("./footer"); -%>

</body>

</html>