<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./header",{showRecordDiv: true}); -%>
    <div>
        <form action="/users/username:" method="post">
            <h1>Enter username: </h1>
            <input type="text" name="name" id="name"><br>
        </form>
    </div>
    <%- include("./footer"); -%>

</body>
<script src="../public/scripts/user.js"></script>
</html>