#form-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;;
  }

#form-container {
  min-height: 100%;
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 10px 0px;
  padding: 10px;
  width: 30%;
}  

.submit-button {
  color: black;
  background-color: #efeae6;
  padding: 5px;
  width: 100px;
  margin: 5px;
  border-color: gray;
  border-radius: 5px;
  text-shadow: 0.5px 0.5px gray;
}

h1, input, select {
  margin-bottom: 10px;
}

input, textarea{
  width: 99%;
}

#description{
  white-space: pre-wrap;
  height: 100px;
}