

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

#opening-hours p {
    margin: 0;
}
