
html body{
    width: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    height: 100%
  }
  
  html {
    height: 100%
  }
  
  body{
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
  }
  main{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

  #store-image{
    width: 100%;
    background-color: black;
  }

  #store-image img{
    height: 100%;
    width: 100%;

  }

  #store-info{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    text-shadow: 1px 0px 4px rgba(187, 197, 255, 0.62);

  }

  #store-about{
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    background-position: 50% 50%;
  }



  #store-about p{
    margin: 10px;
  }

  #commercials {
    width: 100%;
    display: flex;
    flex-direction: row;

  }

  .commercials-image {
    width: 50%;
    padding: 0%;
    margin: 0;
  }

  .commercials-image img {
    width: 98%;
    padding: 1%;
    margin: 0;
  }
