
html body{
  width: 100%;
  margin: 0;
  padding: 0;
  direction: rtl;
  height: 100%
}

html {
  height: 100%
}

body{
  min-height: 100%;
  position: relative;
  padding-bottom: 150px;
}
main{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

#products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0;
  height: 200px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}  

.product:hover{
  cursor: pointer;
}

.img-wrapper {
  display: inline-block;
  width: 150px;
  height: auto;
  overflow: hidden;
  position:relative;
}

.img-wrapper img {
  width: 100%;
  transition: all .3s ease;
  vertical-align: middle;
  z-index: 0;
}

.img-wrapper img:hover {
  transform:scale(1.2);
}

.product p {
  font-size: smaller;
  font-family: Arial, sans-serif;
  margin: 1px;
  text-align: center;
}

#select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  width: 20%;
}

#select * {
  margin-bottom: 10px;
}

#update-product-container{
  width: 100%;
  display: flex;
  z-index: 1;
  position: absolute ;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.update-product{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
  border-radius: 50%;
  box-shadow: 0 0 2px #888;
  padding: 0.2em 0.3em;
  margin: 2px;
  cursor: pointer;
}